@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #111827; /* Dark background */
    color: #d1d5db; /* Light text */
}

.step-container, .card, .my-booking-item {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#layout-json-editor {
    min-height: 400px;
    font-family: monospace;
}